/* 
Primary colors 
orange - #fd7e14
dark blue - #222429
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
* {
  font-family: Open Sans;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/*Common clasess*/
button.common-btn {
    background: linear-gradient(90deg, #cfb7f1, #fdf4f0);
    padding: 12px 28px;
    color: #000000;
    border: none;
    border-radius: 10px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0px;
    transition: all 0.5s ease;
  }
button.common-btn:hover {
    background: linear-gradient(90deg, #cfb7f1, #fdf4f0);
    box-shadow: 3px 2px 30px 3px #d3d3d3;
    border: 1px #cfb7f1;
  }
.clear {
  clear: both;
}
.text-center {
  text-align: center;
}
a {
  font-family: 'Open Sans';
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Open Sans';
  font-weight: 700;
}
p {
  font-family: 'Open Sans';
  font-weight: 400;
  color: #f2f2f2;
}
.heading{
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}


/* nav-bar */
nav {
  float: right;
  align-items: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
  vertical-align: center;
}

nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #ffffff;
  color: #222429;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  transition: all 0.5s;
}
nav ul li a:hover {
  background: #000000;
  color: #fd7e14;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
    /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
    
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #222429;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
  height: 70px;
  background: #ffffff;
}

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}
nav ul img {
  float: left;
  position: relative;
  margin: 10px ;
  cursor:pointer;
}

.brand a img{
  padding: 5px 5px 3px 2px ;
  vertical-align: middle;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 400;
  
}
.brand a,
.brand a:visited {
  text-decoration: none;
  color: #fd7e14;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Open Sans';
  text-shadow: 2px 2px 3px #000000;
  transition:  0.4s ease-in-out;
}

.brand a:hover {
  font-weight: 600;
  color: #000000;
  cursor: pointer;
  text-shadow: 2px 2px 15px #fd7e14 , 0px 0px 15px #fd7e14;
}
#contact h3 {
  color: #fd7e14;
  display: block;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-weight: 600;
  text-shadow: 0px 0px 30px #000000;
  transition:  0.5s ease-in-out;
}
#contact h3:hover{
    color:#ffffff;
    cursor: pointer;
    text-shadow: 0px 0px 25px #fd7e14 , 0px 0px 20px #fd7e14;
}

.nav-list li a img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}
.nav-list li a img:hover{
  opacity: 0.7;
}

.show-btn{
  background-image: linear-gradient(92.88deg, #fd7e14 9.16%, #ff785a 64.72%);
  float: right;
  margin: 16px 10px 0px 10px ;
  padding: 8px 25px;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;  
  border-radius: 7px;
  box-shadow: 2px 3px 8px #1717173f;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  transition: all 0.5s;
  text-align: center;
  border: #f86544 solid 2px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 2px 8px;
}
.show-btn a{
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;  
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 600;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 2px 8px;
}
.show-btn a:hover{
  color: #222429;
}
.show-btn:hover {
  background: #FFFFFF;
  box-shadow: #f86544 0 1px 10px;
  transition-duration: all .5s;
  border: #f86544 solid 2px;
}
.show-btn:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}



/* footer */
.footer-distributed{
  background-color: #181818 !important;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 30px 50px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.footer-distributed .footer-left,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-left, .footer-centre, .footer-right{
	width: 33%;
  padding: 20px;
}
/* Footer left */


.footer-left p{
  font-size: 1.1rem;
  font-family: Open Sans;
}
.footer-header{
  color: #fd7e14;
  padding-bottom: 10px;
  font-size: 2.4rem;
}
.footer-left h2 span{
  color:#ffffff;
}

/* foote centre */
.footer-centre .footer-header{
  font-size: 1.5rem;
  padding-bottom: 13px;
}
.footer-distributed .footer-centre i{
	background-color:  #33383b;
	color: #ff9641;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-centre i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-centre p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
  font-size: 17px;
}

.footer-distributed .footer-centre p span{
	display:block;
	font-weight: normal;
	font-size:17px;
	line-height:2;
}

.footer-distributed .footer-centre p a{
	color:  #f9903a;
	text-decoration: none;
}

.footer-distributed .footer-centre p a:hover{
  	color:  #eb6d07;
    text-decoration: underline 1px solid;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 33%;
}
.footer-right .footer-header{
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.footer-nav-list{
  padding-top: 15px;
  list-style: none;
}
.footer-nav-list li{
  padding: 2px 0px;
}
.footer-nav-list a{
  font-family: 'Open Sans';
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
.footer-nav-list a:hover{
  color:  #eb6d07;
  text-decoration: underline 1px solid;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media(max-width:991px) {
  .gallery {
    min-height: auto;
  }
}
@media(max-width:768px) {
  .gallery {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 786px) {
	.footer-distributed{
		font: bold 14px Open-Sans;
	}

	.footer-distributed .footer-left{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

}