/* 
Primary colors 
orange - #fd7e14
dark blue - #222429
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
* {
  font-family: Open Sans;
}


body {
	background: #f9f9f9;
   font-family: Open Sans;
 }

/* .container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   border-radius: 20px;
   color: #221e1f;
} */

#catVideo {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
 }

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:crimson;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: crimson;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   border-radius: 18px;
   background: rgba(62, 61, 61, 0.3);
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
   background: rgba(211, 211, 211, 0.3);
   backdrop-filter: blur(5px);
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#ffffff;
   text-shadow: 2px 2px 4px #575757b3 ;   
   transition:  0.5s ease-in-out;
}

.form-container form h3 {
   animation: color-change 5s infinite;
 }
 
 @keyframes color-change {
   0% { color: #ffffff; }
   50% { color: #fd7e14; }
   100% { color: #ffffff; }
 }

.form-container form h3:hover{
   color:#fd7e14;
   text-shadow: 2px 2px 3px #1f1f1f ;   
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 12px;
   border: 1px solid #000;
   font-family: Open Sans;
   box-shadow: 3px 2px 4px #222429;
   transition:  0.5s ease-in-out;
}

.form-container form input:hover,
.form-container form select:hover{
   -webkit-transition: border-color 0.3s ease-in-out;
   -moz-transition: border-color 0.3s ease-in-out;
   border: 1px solid #aaa;
   box-shadow: 3px 2px 20px 3px #d3d3d3;
}


.form-container form input:focus,
.form-container form select:focus {
  outline: 0;
  border: 1px solid #000000;
}
::-webkit-input-placeholder {
  color: #000000;
}
.form-container form select option{
   background: #fff;

}

.form-container form .form-btn{
   text-transform: uppercase;
   font-size: 17px;
   cursor: pointer;
   color: #ffffff;
   box-shadow: 3px 2px 4px #222429;
   text-shadow: rgba(0, 0, 0, 0.25) 0 2px 8px;
   border: #f86544 solid 2px;
   background: linear-gradient(92.88deg, #fd7e14 9.16%, #ff785a 64.72%);
   transition: all 0.3s;
   font-weight: 600;
}

.form-container form .form-btn:hover{
   background: linear-gradient(92.88deg, #ff785a  9.16%, #fd7e14 64.72%);
   box-shadow: #f86544 0 1px 10px;
   border: #f86544 solid 2px;

}

.form-container form p{
   margin-top: 10px;
   font-size: 18px;
   color:#ffffff;
   font-family: Open Sans;
}
.form-container form p a{
   color:#f86544;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}


/* user page */
.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
